/* Change background color to something smokey */ 
.App {
    font-family: "Baskervville", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

/* Add more CSS later like hover and transitions */
/* Take away text decoration etc for the links */